@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700&family=Sora&display=swap" rel="stylesheet');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .animate-updown {
    animation-name: animate-updownAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }
}
